/* Place your CSS styles in this file */

body
{
    background-color: rgb(154, 154, 247);
}

h1 {
    text-align: center;
    font-family: "Monaco", monospace;
    font-weight: normal;
    color: aqua;
}

h3
{
    text-align: center;
    font-family: "Garamond", serif;
    color:aquamarine;
}

button
{
    background-color: whitesmoke;
    font-size: large;
    font-family: "Helvetica", sans-serif;
    color: purple;
    cursor: pointer;
}

button:hover
{
    background-color: pink;
    color:yellow;
}
